.form-wrapper{
  display: flex;
  width:100%;
  height:60px;
  background: beige;
  justify-content: center;
  align-items: center;
  .cell-form{
    display: flex;
    justify-content: center;
    align-items: center;
    background: beige;
    width: 180px;
    font-size: 12px;
    height:60px;
    border: white 3px solid;
    cursor: pointer;
  }

}
