/* You can add global styles to this file, and also import other style files */
input {
  border-radius: 4px;
  height: 20px;
  background: transparent;
}
button{
  margin: 0px 15px;
  min-height: 25px;
  border-radius: 4px;
  background: transparent;
  color: darkslategrey;
  box-shadow: none;
}
